*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body nav h1 {
    font-size: 2em;
    color: darkblue;
    font-weight: 600;
    vertical-align: middle;
    text-shadow: 0px 5px 5px #F7A800;
}

.main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #8ecdff, royalblue);
}

nav{
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    font-size: 1.5em;
    display: inline-block;
    margin: 0 20px;
}

.nav-links ul li a {
    text-decoration: none;
    -webkit-text-fill-color: #FFF;
    -webkit-text-stroke:0.5px royalblue;
}

.nav-links ul li a:hover {
    -webkit-text-fill-color: #F7A800;
    -webkit-text-stroke:0.5px #F7A800;
}

.information{
    width: 80%;
    height:80%;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
}

#circle{
    width: 65%;
    height:65%;
    position: absolute;
    top: 6em;
    left: 2em;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: 1s;
}

.feature img{
    width: 5em;
    height: 5em;
}

.feature{
    position: absolute;
    display: flex;
    color: #fff;
}

.feature div{
    margin-left: 30px;
}

.feature div p{
    margin-top: 8px;
}

.one{
    top: 6em;
    right: -12em;
}

.two{
    top: -12em;
    left: 12em;
    transform: rotate(-90deg);
}

.three{
    top: 9em;
    left: -15em;
    transform: rotate(-180deg);
}

.four{
    top: 27em;
    right: 12em;
    transform: rotate(-270deg);
}

.earth{
    width: 13em;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
    z-index: 1;
}

.controls{
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.controls h3{
    margin: 15px 0;
    color: #fff;
}

#upBtn {
    color: #FFF;
    width: 5em;
    cursor: pointer;
    transform: rotate(-90deg);
}

#upBtn:hover {
    color: #F7A800;
}

#downBtn {
    color: #FFF;
    width: 5em;
    cursor: pointer;
    transform: rotate(90deg);
}

#downBtn:hover {
    color: #F7A800;

}


.overlay {
    width: 0;
    height: 0;
    border-top: 20em solid #FFF;
    border-right: 20em solid transparent;
    border-bottom: 20em solid #FFF;
    border-left: 20em solid #FFF;
    position: absolute;
    left: 4em;
    top: -4em;
}